.review-container {
    display: flex;
    width: 100%;
}

aside{
    width: 33%;
    min-width: 200px;
}

.rating-bar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.rating-bar p {
    color: goldenrod;
    text-decoration: underline;
    width: 5em;
}

progress[value]{
    float:right;
    background-size: 40px 20px, 100% 100%, 100% 100%;
    background-color: gold;
    margin: 5px;
    height: 30px;
}

progress::-webkit-progress-bar {
    border: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px;
    background-color: white;
  }
  progress::-webkit-progress-value {
    height: 100%;
    border-radius: 2px 0 0 2px;
    background-color: gold;
  }

.review-box{
    margin-top: 40px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: left;
}

.review-card{
    width:33%;
    min-width: 200px;
    border: solid grey;
    border-width: 1px;
    margin: 15px;
    padding: 0 10px;
    border-radius: 5px;
    box-sizing: content-box;
}

.review-card header h4 {
    margin-bottom: 0;
    width: 60%;
}

.review-card header p {
    font-size: small;
}

.star_rating{
    margin-top:-2vh;
    float:right;
}

.fa-star{
    color: gold;
    border-width: 1px;
}

