.review-container {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.review-card{
    justify-content: left;
    min-width: 235px;
    border: solid grey;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: content-box;
}

.review-card > h4 {
    margin-top: 0;
}

.fa-star{
    color: gold;
}