.container {
  display: block;
  justify-content: flex-start;
  margin: 5vmin 10vw;
}
.header-box {
  display: inline-block;
  height: 45px;
  width: 75vw;
  margin-bottom: 20px;
  background-color: black;
}